{% load static %}

{% block content %}

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">

                <!-- Titre1 -->
                <a class="navbar-brand" href="#">LVM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">

                        <!-- Acceuil -->
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>

                        <!-- A propos -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'plat' %}">Plats</a>
                        </li>

                        <!-- Categories liste -->
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Catégorie
                            </button>
                            <ul class="dropdown-menu">

                                <li>
                                    {% for cat in categories %}
                                        <a class="dropdown-item" href="#">
                                            {{ cat.nom }}
                                        </a>
                                    {% endfor %}
                                </li>

                            </ul>
                        </div>
                    </ul>

                    <!-- Barre de recherche -->
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">
                            Rechercher
                        </button>
                    </form>

                </div>
            </div>
        </nav>
    </header>

{% endblock %}